<section class="flex flex-col w-full h-full justify-center items-center overflow-hidden">
  <h2 class="text-blue-2 text-2xl max-w-[70%] text-center">Gestiona tus nubes de almacenamiento en una sola plataforma</h2>
  <img src="/assets/Dashboard.png" alt="Dashboard unsonu" width="331.69px" class="-rotate-6 translate-x-14 mt-14"/>
</section>

<style>
  h2 {
    font-family: 'Dangrek', sans-serif;
  }
</style>