---
import Cloud from './Cloud.astro'
---
<section class="">
  <h2 class="text-2xl w-[50%] mx-auto text-center md:text-5xl">
    Compatible con
  </h2>
  <div class="w-[70%] mx-auto mt-6 flex justify-center flex flex-col justify-center items-center">
    <div class="flex swing-in-top-fwd">
      <Cloud borders='border-r-[1px] border-b-[1px]' imgAlt='logo Drive' imgCloud='/assets/logo-drive.svg' nameCloud='Drive'/>
      <Cloud borders='border-r-[1px] border-b-[1px]' imgAlt='logo OneDrive' imgCloud='/assets/logo-onedrive.svg' nameCloud='OneDrive'/>
      <Cloud borders='border-b-[1px]' imgAlt='logo Dropbox' imgCloud='/assets/log-dropbox.svg' nameCloud='Dropbox'/>
    </div>
  </div>
  <p class="text-white text-center mt-14 md:text-xl">Próximamente mas compatibilidad</p>
</section>

<style>
  h2{
    color: #C21D03;
    margin-bottom: 100px;
  }
  section {
    font-family: "Encode Sans Expanded", sans-serif;
  }
  .swing-in-top-fwd {
    view-timeline-name: --clouds;
    view-timeline-axis: block;
    -webkit-animation: swing-in-top-fwd 5s
      cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: swing-in-top-fwd 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation-timeline: --clouds;
  }
  @-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
      transform: rotateX(-100deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
      transform: rotateX(-100deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      -webkit-transform-origin: top;
      transform-origin: top;
      opacity: 1;
    }
  }
</style>
