<section>
  <h2 class="text-blue-2 text-2xl w-[50%] mx-auto">Compatible con</h2>
  <div class="w-[70%] mx-auto mt-6">
    <div class="flex">
      <div class="w-[100px] h-[85px] flex justify-around items-center flex-col border-r-[1px] border-b-[1px] border-dashed border-blue-3">
        <img src="/assets/logo-drive.svg" alt="logo Drive" width="30px" />
        <p class="text-blue-2 pb-2">Drive</p>
      </div>
      <div class="w-[100px] h-[85px] flex justify-around items-center flex-col border-r-[1px] border-b-[1px] border-dashed border-blue-3">
        <img src="/assets/logo-onedrive.svg" alt="logo OneDrive" width="30px" />
        <p class="text-blue-2 pb-2">OneDrive</p>
      </div>
      <div class="w-[100px] h-[85px] flex justify-around items-center flex-col border-b-[1px] border-dashed border-blue-3">
        <img src="/assets/log-dropbox.svg" alt="logo Dropbox" width="30px" />
        <p class="text-blue-2 pb-2">Dropbox</p>
      </div>
    </div>
  </div>
  <p class="text-white text-center mt-14">Próximamente mas compatibilidad</p>
</section>

<style>
  section {
    font-family: "Encode Sans Expanded", sans-serif;
  }
</style>
