<footer
  class="border-t-[1px] border-blue-2 mt-14 py-6 w-[80%] mx-auto flex flex-col-reverse gap-3 text-white"
>
  <p class="text-xs text-center">
    © 2024 UNSONU. Todos los derechos reservados
  </p>
  <div class="text-xs text-center">
    <a href="/privacy-policy">Política de privacidad</a>
    |
    <a href="/terms-of-use">Condiciones de uso</a>
  </div>
</footer>

<style>
  footer {
    font-family: "Encode Sans Expanded", sans-serif;
  }
</style>
