<section class="w-[70%] mx-auto justify-center mt-40">
  <div class="flex flex-col justify-center items-center">
    <img
      src="/assets/function1.svg"
      alt="transferencia de archivos"
      width="150px"
    />
    <p class="mt-12 mb-14 text-base text-white text-center">Transfiere tus archivos de una nube a otra fácilmente</p>
  </div>
  <div class="flex flex-col justify-center items-center">
    <img
      src="/assets/function2.svg"
      alt="transferencia de archivos"
      width="150px"
    />
    <p class="mt-12 mb-14 text-base text-white text-center">Cambia entre tus almacenamientos rápido</p>
  </div>
  <div class="flex flex-col justify-center items-center">
    <img
      src="/assets/function3.svg"
      alt="transferencia de archivos"
      width="150px"
    />
    <p class="mt-12 mb-14 text-base text-white text-center">Gestiona tus archivos en un solo lugar</p>
  </div>
  <div class="flex flex-col justify-center items-center">
    <img
      src="/assets/function4.svg"
      alt="transferencia de archivos"
      width="150px"
    />
    <p class="mt-12 mb-14 text-base text-white text-center">Migra tus archivos fácilmente</p>
  </div>
</section>

<style>
  section {
    font-family: "Encode Sans Expanded", sans-serif;
  }
</style>
