---
import Function from "./Function.astro";
---

<section id="functions" class="w-[70%] mx-auto justify-center mt-40 md:w-[80%] md:mb-24">
  <Function 
    containerClass="md:flex-row-reverse"
    imgFunction="/assets/function1.svg"
    altImgFunction="transferencia de archivos"
    animationImg="function-animation-right"
    animationText="function-animation-left"
    textFunction="Transfiere tus archivos de una nube a otra fácilmente." />
    <Function 
    containerClass="md:flex-row"
    imgFunction="/assets/function2.svg"
    altImgFunction="transferencia de archivos"
    animationImg="function-animation-left"
    animationText="function-animation-right"
    textFunction="Cambia entre tus almacenamientos rápido." />
    <Function 
    containerClass="md:flex-row-reverse"
    imgFunction="/assets/function3.svg"
    altImgFunction="transferencia de archivos"
    animationImg="function-animation-right"
    animationText="function-animation-left"
    textFunction="Gestiona tus archivos en un solo lugar." />
    <Function 
    containerClass="md:flex-row"
    imgFunction="/assets/function4.svg"
    altImgFunction="transferencia de archivos"
    animationImg="function-animation-left"
    animationText="function-animation-right"
    textFunction="Migra tus archivos fácilmente." />
</section>
