---
import Plan from "./Plan.astro";
---

<section id="plans">
  <Plan
    title="Gratis"
    description="Deja de saltar entre plataformas y obtén todo en un solo lugar"
    price="De por vida"
    limit={5}
    accounts={2}
    icon="rocket"
  />
  <Plan
    title="Pro"
    description="Aumenta tu productividad al interactuar entre almacenamientos"
    price="99 MXN por mes"
    limit={100}
    accounts={10}
    icon="start"
  />
</section>
