---
import '@fontsource/dangrek';
import '@fontsource/encode-sans-expanded';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="w-screen h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-blue-1 w-full h-full overflow-x-hidden">
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }
 /* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #F2F9F9 #356169;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #356169;
}

*::-webkit-scrollbar-thumb {
  background-color: #F2F9F9;
  border-radius: 20px;
}
</style>
